.seccion {
    margin-top: calc($separacion / 2);
    margin-bottom: calc($separacion / 2);
}
.contenido-centrado {
<<<<<<< HEAD
    max-width: 80rem;
=======
    max-width: 800px;
>>>>>>> ceed0fc793daccb1dbd7bf704acadc620275bf2d
}

.alinear-derecha{
    display: flex;
    justify-content: flex-end;
<<<<<<< HEAD
}

.w-100{
    width: 100%;
=======
>>>>>>> ceed0fc793daccb1dbd7bf704acadc620275bf2d
}