@include tablet{
    .contenedor-anuncios{
        @include grid(3, 2rem);
    }
}

.anuncio{
<<<<<<< HEAD
    background-color: lighten($color: $gris, $amount: 5);
    border: 1px solid darken($color: $gris, $amount: 10);
    margin-bottom: 2rem;
=======
    background-color: lighten($gris, 5);
    border: 1px solid darken( $gris, 10);
>>>>>>> ceed0fc793daccb1dbd7bf704acadc620275bf2d

    .contenido-anuncio{
        padding: 2rem;
    }

    h3,p{
        margin: 0;
<<<<<<< HEAD
    }    
}

.precio{
        color: $verde;
        font-weight: $bold;
        font-size: 3rem;
    }
=======
    }
    
}

.precio{
    color: $verde;
    font-weight: $bold;
    font-size: 3rem;
}
>>>>>>> ceed0fc793daccb1dbd7bf704acadc620275bf2d

.iconos-caracteristicas{
    display: flex;
    list-style: none;
    padding: 0;
    max-width: 40rem;
<<<<<<< HEAD

    
   
=======
>>>>>>> ceed0fc793daccb1dbd7bf704acadc620275bf2d
    li{
        flex: 1;
        display: flex;

        img{
            flex: 0 0 3rem;
            margin-right: 1rem;
        }
        p{
            font-weight: $black;
        }
    }
}