.no-webp .imagen-contacto{
<<<<<<< HEAD
background-image: url('../img/encuentra.jpg');
}
.webp .imagen-contacto{
background-image: url('../img/encuentra.webp');
=======
    background-image:url(../img/encuentra.jpg);
}
.webp .imagen-contacto{
    background-image: url(../img/encuentra.webp);
>>>>>>> ceed0fc793daccb1dbd7bf704acadc620275bf2d
}

.imagen-contacto{
    background-position: center center;
    background-size: cover;
    padding: $separacion * 2 0;
    display: flex;
    flex-direction: column;
    align-items: center;
<<<<<<< HEAD
=======

>>>>>>> ceed0fc793daccb1dbd7bf704acadc620275bf2d
    h2{
        font-size: 4rem;
        font-weight: $black;
        color: $blanco;
    }
<<<<<<< HEAD
=======

>>>>>>> ceed0fc793daccb1dbd7bf704acadc620275bf2d
    p{
        font-size: 1.8rem;
        color: $blanco;
    }
}