.footer{
    padding: $separacion / 2 0;
    background-color: $grisOscuro;
    margin-bottom: 0;

    .contenedor-footer{
        padding-top: $separacion / 2;
    }

<<<<<<< HEAD
    .navegacion{
        visibility: visible;
        opacity: 1;
        height: auto;
    }

=======
>>>>>>> ceed0fc793daccb1dbd7bf704acadc620275bf2d
    .copyright{
        color: $blanco;
        text-align: center;
    }
}