<<<<<<< HEAD
.no-webp .inicio {
    background-image: url(../img/header.jpg);
}

.webp .inicio {
    background-image: url(../img/header.webp);
}

.header {
    background-color: $grisOscuro;
    padding: 1rem 0 3rem 0;

    &.inicio {
        background-position: center center;
        background-size: cover;

        @include tablet {
            min-height: 70rem;
        }

        .contenido-header {
            @include tablet {
=======
.no-webp .inicio{
    background-image:url(../img/header.jpg);
}
.webp .inicio{
    background-image: url(../img/header.webp);
}

.header{
    background-color: $grisOscuro;
    padding: 1rem 0 3rem 0;

    &.inicio{
        background-position: center center;
        background-size: cover;


        @include tablet{
            min-height: 70rem;
        }

        .contenido-header{
            @include tablet{
>>>>>>> ceed0fc793daccb1dbd7bf704acadc620275bf2d
                min-height: 70rem;
            }
        }
    }
}

<<<<<<< HEAD
.contenido-header {
=======
.contenido-header{
>>>>>>> ceed0fc793daccb1dbd7bf704acadc620275bf2d
    display: flex;
    flex-direction: column;
    justify-content: space-between;

<<<<<<< HEAD
    h1 {
=======

    h1{
>>>>>>> ceed0fc793daccb1dbd7bf704acadc620275bf2d
        text-align: left;
        color: $blanco;
        font-weight: $bold;
        line-height: 2;
        max-width: 60rem;
    }
}