.testimonial{
    background-color: $verde;
    font-size: 2.4rem;
    padding: 2rem;
    color: $blanco;
    border-radius: 2rem;

<<<<<<< HEAD
=======

>>>>>>> ceed0fc793daccb1dbd7bf704acadc620275bf2d
    blockquote{
        padding-left: 5rem;
        position: relative;

        &::before{
            content: "";
            background-image: url(../img/comilla.svg);
            background-repeat: no-repeat;
            width: 6rem;
            height: 8rem;
            display: block;
            position: absolute;
            left: -2rem;
        }
    }
<<<<<<< HEAD
=======

>>>>>>> ceed0fc793daccb1dbd7bf704acadc620275bf2d
    p{
        text-align: right;
        color: $blanco;
    }
}