.contenido-nosotros{
    @include tablet{
        @include grid(2, 2rem);
    }
}

<<<<<<< HEAD
.texto-nosotros blockquote{
font-weight: $black;
font-size: 2.2rem;
margin: 3rem 0 0 0;
padding-left: 1rem 0 3rem 0;
=======
.texto-nosotros blockquote {
    font-weight: $black;
    font-size: 2.2rem;
    margin: 0;
    padding-left: 1rem 0 3rem 0;
>>>>>>> ceed0fc793daccb1dbd7bf704acadc620275bf2d
}